<?xml version='1.0' encoding='UTF-8'?>
<worldsens xmlns="http://worldsens.citi.insa-lyon.fr">

<!-- == Worldsens ===================================================== -->
<simulation nodes="100" duration="10s" x="100" y="100" z="100"/>

<!-- == Entities ===================================================== -->
<entity name="none" library="modulation_none">
</entity>

<entity name="range" library="propagation_range" >
<init  range="60"/>
</entity>

<entity name="interf" library="interferences_orthogonal">
</entity>

<entity name="file" library="mobility_filestatic" >
<init  file="mobility2.log"/>
</entity>

<entity name="monitor" library="monitor_events" >
</entity>

<entity name="billiard" library="mobility_billiard" >
<init  max-speed="30"/>
<default x="random" y="random" z="random" speed="random" angle-xy="random" angle-z="random"/>
</entity>

<entity name="torus-central" library="mobility_torus_central" >
<init  max-speed="30"/>
<default x="random" y="random" z="random" speed="random" angle-xy="random" angle-z="random"/>
</entity>

<entity name="torus-plane" library="mobility_torus_plane" >
<init  max-speed="30"/>
<default x="random" y="random" z="random" speed="random" angle-xy="random" angle-z="random"/>
</entity>

<entity name="omnidirectionnal" library="antenna_omnidirectionnal" >
<default loss="-92" angle-xy="random" angle-z="random"/>
</entity>

<entity name="fire" library="environment_fire" >
<init  start="5000000000" refresh="100000000" speed="1" x="random" y="random" z="random" heat="10"/>
</entity>

<entity name="radio" library="radio_half1d" >
  <default sensibility="-90" T_b="727" dBm="10" channel="0" modulation="none"/>
</entity>

<entity name="events" library="monitor_events" >
</entity>


<!-- == Environment ===================================================== -->
<environment>
<propagation entity="range"/>
<interferences entity="interf"/>
<monitoring entity="monitor"/>
<modulation entity="none"/>
<with entity="fire"/>
</environment>

<!-- == Bundle ===================================================== -->
<bundle name="billiard" worldsens="false" default="true" birth="random">
  <mobility entity="billiard"/>
  <antenna entity="omnidirectionnal">
    <up entity="radio"/>
  </antenna>
  <with entity="radio">
    <down entity="omnidirectionnal"/>
  </with> 
</bundle>

<bundle name="plane" worldsens="false" default="false" birth="0">
  <mobility entity="torus-plane"/>
  <antenna entity="omnidirectionnal">
    <up entity="radio"/>
  </antenna>
  <with entity="radio">
    <down entity="omnidirectionnal"/>
  </with> 
</bundle>

<bundle name="central" worldsens="false" default="false" birth="0">
  <mobility entity="torus-central"/>
  <antenna entity="omnidirectionnal">
    <up entity="radio"/>
  </antenna>
  <with entity="radio">
    <down entity="omnidirectionnal"/>
  </with> 
</bundle>

<bundle name="file" worldsens="false" default="false" birth="0">
  <mobility entity="file"/>
  <antenna entity="omnidirectionnal">
    <up entity="radio"/>
  </antenna>
  <with entity="radio">
    <down entity="omnidirectionnal"/>
  </with> 
</bundle>

<!-- == Node ===================================================== -->
<node id="0" as="plane"/>
<node id="1" as="plane"/>
<node id="2" as="central"/>
<node id="3" as="central"/>
<node id="4" as="file"/>
<node id="5" as="file"/>

</worldsens>
